<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Import our custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{% block title %}{% endblock %}</title>
    
    {% macro render_navitem(endpoint, display, iconcls='', active='') %}
        <li class='nav-item {% if request.endpoint == endpoint or active == endpoint %}active{% endif %}'>
            <a class='nav-link' href="{{url_for(endpoint)}}"><i class="{{iconcls}}"></i> {{display}}</a>
        </li>
    {% endmacro %}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="#">Handwriting to Font Software</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {{render_navitem('index', 'Home', 'icon-home', active_page)}}
                {# {{render_navitem('upload', 'Upload', 'icon-upload', active_page)}} #}
                {# {{render_navitem('image_to_font', 'Image to Font', 'icon-upload', active_page)}} #}
                {{render_navitem('preview', 'Preview', 'icon-search', active_page)}}
            </ul>
            <!--
            <div id="settings" class="ml-auto">
                <input id="dark-mode-switch" type="checkbox" class="" name="r" value="1" onclick="toggle_dark(this)"/>
                <label for="dark-mode-switch" class="">Dark Mode</label>
            </div>
            -->
        </div>
    </nav>
    <main>
        {% block main %}{% endblock main %}
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-Qg00WFl9r0Xr6rUqNLv1ffTSSKEFFCDCKVyHZ+sVt8KuvG99nWw5RNvbhuKgif9z" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/app.js') }}" onload="checkCookie()"></script>
    {% block script %}{% endblock %}
</body>
</html>