__pycache__
.idea
*.svg
*.otf
.vscode/

test-images/individual-characters/ab-2-scan/
test-images/individual-characters/ms-scan/

# Server Files
server/*/__pycache__/
servre/app/app/.history
server/app/app/uploads
server/app/app/processed_images
server/app/app/grid_estimate_images
server/app/app/cut_images
server/app/env/