{% extends "public/templates/public_template.html" %}

{% set active_page = 'index' %}

{% block title %}
    Image to Font
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Process an image into a font</h1>
                <hr>
                {% include "public/templates/flash.html" %}
                <form action="/process" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="template_type" class="form-label">Template Type</label>
                            <select name="template_type" id="template_type" class="form-control">
                                {% for template_file, template_name in templates.items() %}
                                    <option value="{{template_file}}">{{template_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="base_font" class="form-label">Base Font (to use for missing characters)</label>
                            <select name="base_font" id="base_font" class="form-control">
                                {% for base_font in base_fonts %}
                                    <option value="{{base_font}}">{{base_font}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="form-control-file" id="image" name="image" onchange="setFileName(this.value);" accept=".png,.jpg,.jpeg">
                            <label for="image" class="custom-file-label">Select an image</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Process</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function setFileName(val) {
            var fileName = val.split('\\').pop();
            $('.custom-file-label').text(fileName);
        }
    </script>
{% endblock %}